origin <input type="text" [(ngModel)]="origin"> <br>
destination <input type="text" [(ngModel)]="destination"> <br>
travel mode <input type="text">
<button (click)="hae()">Hae</button>
<!--
<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="15" (mapClick)="onChoseLocation($event)">
    <agm-marker
            [latitude]="latitude"
            [longitude]="longitude"
    ></agm-marker>
    -->
    <!--*ngIf="locationChosen"-->
<!--
</agm-map>

<h2>Ja sit tääl näkyis ne CO2 ja kilsamäärä</h2>
{{latitude}} <br>
{{longitude}}
-->

<agm-map *ngIf="locationChosen">
    <sebm-google-map-directions  [origin]="origin" [destination]="destination"></sebm-google-map-directions>
</agm-map>
<app-header></app-header>
